
header{
   height:110px;
   width:auto;
   background-color: blue;
   margin: auto;
    border:2px solid black;
   
}
#menu{
    height: 40px;
    background-color:#ffff33;
    margin-top: -30px;
line-height: 50px;

}
#menu > ul li  {
    
      display: inline;
       padding-right: 50px;
     
        padding-top: 10px;
        font-size: 24px;
        padding-left: 30px;
margin-left: 40px;
           
}

section{
    height: 600px;
    background-color: #cccccc;
    border: 2px solid black;
}
#left{
    height: 150px;
    width: 25%;
    background-color: #999999;
        margin-left: 20px;
            float: left;
            margin-top: 5px;
}

#left >ul li {
    list-style-type: none;
    line-height: 30px;
    font-size: 30px;

}
#rigth{
    height: 540px;
    width: 72%;
    background-color: whitesmoke;
    float: right;
    margin-top: 5px;
}
footer{
    text-align: center;
    background-color: palegreen;
    font-size: 24px;
    border: 2px solid black;
}

#anh{
    width: 420px;
    height: 250px;
    padding-left: 30px;
    padding-top: 10px;
}

#anh1{
    width: 420px;
    height: 250px;
    padding-left: 30px;
    padding-top: 10px;
}

#anh2{
      width: 420px;
    height: 250px;
    padding-left: 30px;
    padding-top: 10px;
}


#anh3{
    width: 420px;
    height: 250px;
    padding-left: 30px;
    padding-top: 10px;
}
#mn :hover{
    background-color: #00ffff;
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

